[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "iterm2/base16-iterm2"]
	path = iterm2/base16-iterm2
	url = https://github.com/martinlindhe/base16-iterm2
