theme "tokyo-night"
default_layout "compact"
on_force_close "quit"
show_startup_tips false

keybinds {
    unbind "Alt f"
    normal {
        bind "Super w" { CloseTab; }
        bind "Super n" { NewTab; }
    }
}
